<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Based File sharing</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="shortcut icon" href="/static/icon.png" type="image/png">
  </head>
  <body>
    <div class="top-bar">
      <p>Logged in as: {{session.username}}</p>

      <a href="/logout"> Logout </a>
    </div>

    <input type="text" id="ai-search" placeholder="AI Search OCR content..." />

    <div class="list">
      <input type="text" id="search-input" placeholder="Search files..." />
      <ul class="file-list">
        {% for file in files %}
        <li class="file-item">
          <div>
            <a href="/generate-link/{{file.stored_name}}">{{file.name}}</a>
            <span class="size">{{file.size}}</span>
          </div>
          <div>
            <button
              type="button"
              class="preview-btn"
              onclick="previewFile(
                '{{file.stored_name}}',
                '{{file.type}}')"
            >
              Preview
            </button>
          </div>
          <form action="/delete/{{file.id}}" method="post" id="delete-form">
            <button class="delete-btn">Delete</button>
          </form>
        </li>
        {% endfor %}
      </ul>
      <div class="progress-container">
        <div class="progress-bar" id="progress-bar"></div>
        <div id="upload-stats"></div>
      </div>
      <form
        action="/upload"
        method="post"
        id="upload-form"
        enctype="multipart/form-data"
      >
        <div class="drop-zone" id="drop-zone">
          <p>Drag & Drop</p>
          <p>Click to Select</p>
        </div>

        <input type="file" name="files" id="file-input" multiple />
      </form>

      <div class="preview-modal" id="preview-modal">
        <div class="preview-content">
          <button id="close-preview">Close</button>

          <div id="preview-area"></div>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="qr">
        <img src="/static/qr.png" alt="" />
      </div>
    </div>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js"></script> -->
    <!-- <script src="/socket.io/socket.io.js"></script> -->
     <script src="/static/socket.io.min.js"></script>
    <script src="/static/script.js"></script>
  </body>
</html>
